.dashboard-box {
  background-image: var(--bg-gradient);
}

.dashboard-main {
  background-image: var(--bg-gradient);
}

.dashboard-app-bar {
 background-image: var(--subtle-gradient);
}

.grid-item {
  /* border: 1px solid var(--vaporblue); */
  background-image: var(--grid-item-gradient);
  border-radius: 10px;
  box-shadow: #0a0c3759 0px 50px 100px -20px, #0a0c374d 0px 30px 60px -30px, #ff61c659 0px 0px 6px 0px inset;
}